@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
}

:root{
    --primarybg: #236d05;
    --secundarybg: #dfdfdf;
    --primaryfont: #44af19;
    --secundaryfont: #dfdfdf;
    --bigfont: "Passion One", serif;
    --smallfont: "Inter", serif;
}

body{

    background-color: var(--secundarybg);
}

main{
        display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: var(--primarybg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header h1, h2{
    font-family: var(--bigfont);
    color: var(--secundaryfont);
    display: inline;
}

header nav ul{
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

header nav ul a{
    text-decoration: none;
    color: var(--secundaryfont);
    font-family: var(--smallfont);
}

header nav ul li a:hover{
    transition: all 0.4s ease-in-out;
    background-color: var(--secundarybg);
    color: var(--primaryfont);
    padding: 5px;
    border-radius: 5px;
}

article{
    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-left: 60px;
    gap: 20px;
    
}

img, #noticia{
    border-radius: 30px;
}

.emAlt #noticia{
    border-radius: 30px;
    background-color: var(--primarybg);
    color: var(--primaryfont);
    padding: 15px;
    display: flex ;
    flex-direction: column;
    align-items: center;

}

.emAlt #noticia p{
    border-radius: 30px;
    background-color: var(--primarybg);
    color: var(--secundaryfont);
    font-family: var(--smallfont);
    margin-top: 30px;
    padding: 10px;
}

.MercBoll #noticia{
    border-radius: 30px;
    background-color: var(--primarybg);
    color: var(--primaryfont);
    padding: 15px;
    display: flex ;
    flex-direction: column;
    align-items: center;

}

.MercBoll #noticia p{
    border-radius: 30px;
    background-color: var(--primarybg);
    color: var(--secundaryfont);
    font-family: var(--smallfont);
    margin-top: 30px;
    padding: 10px;
}

.Brasileirao #noticia{
    border-radius: 30px;
    background-color: var(--primarybg);
    color: var(--primaryfont);
    padding: 15px;
    display: flex ;
    flex-direction: column;
    align-items: center;

}

.Brasileirao #noticia p{
    border-radius: 30px;
    background-color: var(--primarybg);
    color: var(--secundaryfont);
    font-family: var(--smallfont);
    margin-top: 30px;
    padding: 10px;
}

.CopaBrasil #noticia{
    border-radius: 30px;
    background-color: var(--primarybg);
    color: var(--primaryfont);
    padding: 15px;
    display: flex ;
    flex-direction: column;
    align-items: center;

}

.CopaBrasil #noticia p{
    border-radius: 30px;
    background-color: var(--primarybg);
    color: var(--secundaryfont);
    font-family: var(--smallfont);
    margin-top: 30px;
    padding: 10px;
}

.Libertadores #noticia{
    border-radius: 30px;
    background-color: var(--primarybg);
    color: var(--primaryfont);
    padding: 15px;
    display: flex ;
    flex-direction: column;
    align-items: center;

}

.Libertadores #noticia p{
    border-radius: 30px;
    background-color: var(--primarybg);
    color: var(--secundaryfont);
    font-family: var(--smallfont);
    margin-top: 30px;
    padding: 10px;
}

.Champions #noticia{
    border-radius: 30px;
    background-color: var(--primarybg);
    color: var(--primaryfont);
    padding: 15px;
    display: flex ;
    flex-direction: column;
    align-items: center;

}

.Champions #noticia p{
    border-radius: 30px;
    background-color: var(--primarybg);
    color: var(--secundaryfont);
    font-family: var(--smallfont);
    margin-top: 30px;
    padding: 10px;
}

.CopaMundo #noticia{
    border-radius: 30px;
    background-color: var(--primarybg);
    color: var(--primaryfont);
    padding: 15px;
    display: flex ;
    flex-direction: column;
    align-items: center;

}

.CopaMundo #noticia p{
    border-radius: 30px;
    background-color: var(--primarybg);
    color: var(--secundaryfont);
    font-family: var(--smallfont);
    margin-top: 30px;
    padding: 10px;
}

.Outros{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.Outros article{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Outros div{
    width: 200px;
    height: 200px;
    background-color: var(--primarybg);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-blend-mode: multiply;
    background-size: cover;
}

.Outros div h2{
    margin-top: 30px;
}

.Outros #Times{
    background-image: url("../imgs/garro.jpg") ;
}

.Outros #Selecoes{
    background-image: url("../imgs/memphis.jpg");
}

.Outros #Buscar{
    background-image: url("../imgs/messi.jpg");
}

.Outros #Jogos{
    background-image: url("../imgs/salah.jpg");
}

.Outros #Jogos a{
    text-decoration: none;
}

.Outros div:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1)
}

#bola{
    width: 60px;
    height: 60px;
}

.WhatsApp {
  position: fixed;         
  right: 20px; 
  bottom: 0;           
}

.WhatsApp div:hover{
    transition: all 0.3s ease-in-out;
    transform:scale(1.3);
}





footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primarybg);
    font-family: var(--smallfont);
    color:#a1a1a1;
    gap:15px;
    padding:20px;
}

footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer div img{
    width:55px;
    height:50px;
}

footer h3{
    font-family: var(--bigfont);
}

@media only screen and 
(max-width: 1080px){
    header nav ul {
        display: grid;
        grid-template-columns: 70px 70px 70px 70px;
        grid-template-rows: 70px 70px;
        text-align: center;
        gap: 40px;
        row-gap: 5px;
    }
}

@media only screen and
(max-width: 866px) and (min-width: 300px){
    article{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 50px;
    margin-left: 60px;
    gap: 20px;
    
}
}

@media only screen and (max-width: 464px){
    header nav ul li{
        font-size: 10px;
    }

    header nav ul{
        row-gap: 2px;
        column-gap: 5px;
    }
}

@media only screen and (max-width: 650px)
{
    .Outros article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

